@charset "utf-8";

/* common */
html{
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

body{
  margin: 0;

}
h1,h2,h3,p{
  margin:0;
  text-decoration: normal;
}

h2{
  margin:0;
  color:#111827;
  font-size: 17.73px;
}
p{
  color:#4B5563;
  font-size: 15px;
  padding-top:5px;
}

label{
  font-size: 13.125px;
  color:#4B5563;
  padding:8px 0;
  margin-top: 3px;
}
button{
  border: none;
  outline: none;
  background: transparent;
  margin-top: 24px;
  padding: 7.5px 22.5px;
  background-color: #6366f1;
  color:#FFFF;
  border-radius: 2%;
}

.small{
  color: #6b7280;
  font-size:11.25px;
}


.map{
  height: 700px;
  width: 100%;
  filter: grayscale(100%);
  position: absolute;
  z-index: 0;
}

.big-box{

  height: auto;
  margin:0 auto;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content:center;

}

.box{
  width: calc(100% - 100px);
  max-width: 620px;
  height: 80%;
  margin: 0 auto;
  background:white;
  padding:32px;
  align-items: stretch;
  /* position: relative; */
  z-index: 1;
  justify-content: center;
  border-radius:2%;
}

.form{
  display:flex;
  flex-direction:column;
}

.form1{
  height: 70px;
}
.form2{
  height: 100px;
}

body{
  margin: 0;
}










@media(min-width:770px){
.big-box{
  justify-content: flex-start;
  flex-direction: row-reverse;
  max-width: 787px;
  margin:0 auto;
}
.box{
  width: 400px;
  margin-right: 5px;
}


}

@media(min-width:1024px){
  .big-box{
    max-width: 1024px;
  }
  .box{
    width: 300px;
    margin-right: 4px;
  }
}

@media(min-width:1440px){
  .big-box{
    max-width: 1440px;
  }
  .box{
    width: 400px;
    margin-right: 6px;
  }
}
@media(min-width:1536px){
  .main{
    max-width: 1536px;
  }
}